body {
    background-color: #040205;
}

.conteudo {
    background-color: white;
    width: 1920px;
    height: 1080px;
    position: fixed;
    left: calc(50% - 1920px / 2);
    top: calc(50% - 1080px / 2);
    margin: auto;
    overflow: hidden;
}

/**********************************************************/
/******************* vire o celular ***********************/
/**********************************************************/

.p-paisagem {
    color: white;
    text-align: center;
}

.img-paisagem {
    max-width: 70% !important;
    height: auto;
    display: block;
}

.modo-smart {
    display: none
}

@media only screen and (orientation: portrait) {
    .modo-smart {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        position: fixed;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #7c88e7;
        z-index: 9999999999999999999;
    }
}


.btn-teclado:hover {
    background-color: white !important;
    border: 0px none !important;
    color: rgba(0, 0, 0, 0) !important;
    opacity: 0.5 !important;
    transition: 0s;
}

/**********************************************************/
/****************** estilo botoes *************************/
/**********************************************************/

.btn-transparente {
    border-radius: 100%;
    border: 1px solid aliceblue;
}

.btn-transparente:hover {
    background-color: #f3e38e;
    opacity: 0.4;
}

.grupo-btn-teclado {
    top: 142px;
    left: 49px;
    width: 468px;
    height: 240px;
}

.btn-teclado {
    width: 37px;
    height: 52px;
    margin-inline: 7px;
    border-radius: 10px;
    background-color: none !important;
    opacity: 0;
    text-align: center !important;
    padding: 0px;
    font-weight: bold;
    text-transform: uppercase;
}

.btn-teclado:hover {
    background-color: white;
    border: 2px solid aliceblue;
    color: #383838;
    font-size: 21px;
    opacity: 1;
}

.btn-voltar {
    right: 256px;
    top: 28px;
    background-color: #d5b847;
    color: #151515;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 27px;
    border-radius: 45px;
    border: 4px solid black;
    width: 182px;
    height: 101px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.9);
}

.btn-voltar i {
    font-size: 40px;
    vertical-align: middle;
}

.meuBotao {
    background-color: #d5b847;
    color: #151515;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    right: 46px;
    top: 28px;
    border-radius: 45px;
    border: 4px solid black;
    width: 182px;
    height: 100px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.9);
    font-size: 25px;
}

.meuBotao i {
    font-size: 40px;
    vertical-align: middle;
}

#fullInicial{
    right: 46px;
    top: 28px;
}

.exibir {
    right: 464px;
    top: 28px;
    background-color: #d5b847;
    color: #151515;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    border-radius: 45px;
    border: 4px solid black;
    width: 182px;
    height: 101px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.9);
}

.exibir i {
    vertical-align: middle;
}

.btnFullScreen {
    right: 677px;
    top: 28px;
    background-color: #d5b847;
    color: #151515;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    border-radius: 45px;
    border: 4px solid black;
    width: 182px;
    height: 101px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.9);
}

.btnFullScreen i {
    vertical-align: middle;
}

#btnValidarAno {
    top: 571px;
    left: 534px;
    background-color: #d5b847 !important;
    color: #151515;
    border: 2px solid black;
    width: 224px;
    height: 47px;
    border-radius: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.btn-ampliar {
    transition: transform 0.2s ease-in-out;
}


.btn-ampliar:hover {
    transform: scale(1.5);
    background-color: #66240e !important;
    color: white !important;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

.material-symbols-outlined {
    font-size: 40px !important;
}


/**********************************************************/
/****************** maquina do tempo **********************/
/**********************************************************/

.peca-top,
.peca-left,
.peca-right {
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}

.peca-tela {
    left: 490px;
    top: -66px;
}

.peca-top {
    left: 733px;
    animation-name: moverPecaTopo;
}

.volta-topo {
    animation: voltaPecaTopo 3s forwards;
}

.peca-teclado {
    left: 719px;
    animation: moverTeclado 3s forwards;
}

.volta-peca-teclado {
    animation: volta-peca-teclado 9s forwards;
}

.peca-left {
    left: 554px;
    animation-name: moverPecaLeft;
}

.volta-peca-left {
    animation: volta-peca-left 3s forwards;
}

.peca-right {
    top: 218px;
    animation-name: moverPecaRigth;
}

.volta-peca-right {
    animation: volta-peca-rigth 3s forwards;
}

.peca-left-teclado {
    animation: moverPecaLeftTecladoMeio 6s forwards;
}

.volta-left-teclado {
    animation: volta-left-teclado 3s forwards;
}

.peca-left-teclado-2 {
    animation: moverPecaLeftTeclado2 9s forwards !important;
}

.volta-left-teclado-2 {
    animation: volta-left-teclado-2 3s forwards;
}

.img-left-teclado {
    width: 65%;
}

.peca-right-teclado {
    top: 268px;
    right: 559px;
    animation: moverPecaRightTeclado 6s forwards !important;
}

.volta-right-teclado {
    animation: volta-right-teclado 3s forwards !important;

}


/* animaçãoes */

@keyframes moverPecaTopo {

    0% {
        top: 175px;
    }

    100% {
        top: 5px;
    }
}

@keyframes voltaPecaTopo {

    0% {
        left: 733px;
        top: 5px;
    }

    100% {
        left: 733px;
        top: 175px;
    }
}


@keyframes moverTeclado {

    0% {
        left: 719px;
        top: 179px;
    }

    100% {
        top: 541px;
    }
}

@keyframes volta-peca-teclado {

    0% {
        left: 719px;
        top: 541px;
    }

    100% {
        left: 719px;
        top: 179px;
    }
}


@keyframes moverPecaLeft {

    0% {
        left: 554px;
        top: -4px;
    }

    100% {
        left: 432px;
        top: -4px;
    }
}

@keyframes volta-peca-left {

    0% {
        left: 432px;
        top: -4px;
    }

    100% {
        left: 554px;
        top: -4px;

    }
}

@keyframes moverPecaRigth {
    0% {
        right: 534px;
        top: 218px;
    }

    100% {
        right: 320px;
        top: 218px;
    }
}

@keyframes volta-peca-rigth {
    0% {
        right: 320px;
        top: 218px;
    }

    100% {
        right: 534px;
        top: 218px;
    }
}

@keyframes moverPecaLeftTecladoMeio {
    0% {
        top: 232px;
        left: 725px
    }

    50% {
        left: 725px;
        top: 662px;
    }

    100% {
        top: 650px;
        left: 531px;
    }
}

@keyframes volta-left-teclado {
    0% {
        top: 650px;
        left: 531px;
    }

    50% {
        left: 725px;
        top: 662px;
    }

    100% {
        top: 232px;
        left: 725px
    }
}

@keyframes moverPecaLeftTeclado2 {
    0% {
        top: 232px;
        left: 715px;
    }

    50% {
        top: 566px;
        left: 715px;
    }

    100% {
        top: 558px;
        left: 254px;
    }
}

@keyframes volta-left-teclado-2 {
    0% {
        top: 558px;
        left: 254px;
    }

    50% {
        top: 566px;
        left: 715px;
    }

    100% {
        top: 232px;
        left: 715px;
    }
}


@keyframes moverPecaRightTeclado {
    0% {
        top: 200px;
        right: 559px;
    }

    50% {
        top: 649px;
        right: 559px;
    }

    100% {
        top: 671px;
        right: 129px;
    }
}

@keyframes volta-right-teclado {
    0% {
        top: 671px;
        right: 129px;
    }

    25% {
        top: 649px;
        right: 559px;
    }

    50% {

        top: 200px;
        right: 559px;
    }

    100% {
        top: 268px;
        right: 559px;
    }
}

/*****************************************************************/
/************************* botões teclado ************************/
/*****************************************************************/



#b0 {
    left: 5px;
    top: -4px;
    border-radius: 10px;
}

#\30 1 {
    left: 46px;
    top: -4px;
    border-radius: 10px;
}

#\30 2 {
    left: 89px;
    top: -4px;
    border-radius: 10px;
}

#\30 3 {
    left: 131px;
    top: -4px;
    border-radius: 10px;
}

#\30 4 {
    left: 172px;
    top: -4px;
    border-radius: 10px;
}

#\30 5 {
    left: 215px;
    top: -4px;
    border-radius: 10px;
}

#\30 6 {
    left: 256px;
    top: -4px;
    border-radius: 10px;
}

#\30 7 {
    left: 299px;
    top: -4px;
    border-radius: 10px;
}

#\30 8 {
    left: 340px;
    top: -4px;
    border-radius: 10px;
}

#\30 9 {
    left: 381px;
    top: -4px;
    border-radius: 10px;
}

#\30 a {
    left: 5px;
    top: 59px;
    border-radius: 10px;
}

#\30 b {
    left: 46px;
    top: 59px;
    border-radius: 10px;
}

#\30 c {
    left: 89px;
    top: 59px;
    border-radius: 10px;
}

#\30 d {
    left: 131px;
    top: 59px;
    border-radius: 10px;
}

#\30 e {
    left: 172px;
    top: 59px;
    border-radius: 10px;
}

#\30 f {
    left: 215px;
    top: 59px;
    border-radius: 10px;
}

#\30 g {
    left: 256px;
    top: 59px;
    border-radius: 10px;
}

#\30 h {
    left: 299px;
    top: 59px;
    border-radius: 10px;
}

#\30 i {
    left: 340px;
    top: 59px;
    border-radius: 10px;
}

#\30 j {
    left: 381px;
    top: 59px;
    border-radius: 10px;
}

#\30 k {
    left: 423px;
    top: 59px;
    border-radius: 10px;
}

#\30 l {
    left: 5px;
    top: 122px;
    border-radius: 10px;
}

#\30 m {
    left: 46px;
    top: 122px;
    border-radius: 10px;
}

#\30 n {
    left: 89px;
    top: 122px;
    border-radius: 10px;
}

#\30 o {
    left: 131px;
    top: 122px;
    border-radius: 10px;
}

#\30 p {
    left: 172px;
    top: 122px;
    border-radius: 10px;
}

#\30 q {
    left: 215px;
    top: 122px;
    border-radius: 10px;
}

#\30 r {
    left: 256px;
    top: 122px;
    border-radius: 10px;
}

#\30 s {
    left: 299px;
    top: 122px;
    border-radius: 10px;
}

#\30 t {
    left: 340px;
    top: 122px;
    border-radius: 10px;
}

#\30 u {
    left: 5px;
    top: 182px;
    border-radius: 10px;
}

#\30 v {
    left: 46px;
    top: 182px;
    border-radius: 10px;
}

#\30 x {
    left: 89px;
    top: 182px;
    border-radius: 10px;
}

#\30 w {
    left: 131px;
    top: 182px;
    border-radius: 10px;
}

#\30 y {
    left: 172px;
    top: 182px;
    border-radius: 10px;
}

#\30 z {
    left: 381px;
    top: 182px;
    border-radius: 10px;
}

#es {
    width: 153px;
    margin-inline: 3px;
    top: 182px;
    left: 225px;
}

#en {
    left: 386px;
    top: 122px;
    border-radius: 10px;
    width: 72px;
}

#del {
    font-size: 43px;
    left: 423px;
    top: -4px;
    border-radius: 10px;
}

.btn-group>.btn-group:not(:last-child)>.btn,
.btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.btn-group>.btn-group:not(:first-child)>.btn,
.btn-group>.btn:nth-child(n+3),
.btn-group> :not(.btn-check)+.btn {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

/* tela */

#texto {
    top: 449px;
    width: 705px;
    left: 111px;
    height: 111px;
    font-size: 40px;
    background-color: #00e7ff;
    border: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.titulo-principal {
    max-width: 660px;
    text-align: center;
    margin: 60px auto;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    top: 216px;
    left: 116px;
    font-size: 35px;
    font-weight: bold;
}

.titulo-principal:after {
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca .7s infinite;
}

.mensagemErro {
    top: 282px;
    left: 126px;
    width: 647px;
}

@keyframes pisca {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}


/**********************************************************/
/**********************   Transição  **********************/
/**********************************************************/

#vortice {
    animation: retiraBorda 5s forwards !important;
}

.fundo-vortice {
    z-index: 10000000000000000000000000000000000000000000;
    position: absolute;
    top: calc(50% - (1080px / 2));
    left: calc(50% - (1920px / 2));
    width: 1920px;
    height: 1080px;
    background-color: #040305;
    overflow: hidden;
}

.fundo-vortice img {
    width: auto !important;
    height: 100%;
    margin-left: auto !important;
    margin-right: auto !important;
    display: block !important;
    transform-origin: center center;
}

@keyframes retiraBorda {
    0% {
        transform: scale(0)
    }

    100% {
        transform: scale(1)
    }
}

@keyframes animEntradaVortice {}


/**********************************************************/
/******************* página anos 30 ***********************/
/**********************************************************/

#conteudo-01 {
    top: 226px;
    left: 314px;
    width: 213px;
    height: 249px;
}

#conteudo-01:hover {
    background: url('../img/btn-conteudo-1.png') no-repeat center center;
    background-size: cover;
}

#conteudo-02 {
    top: 461px;
    left: 324px;
    width: 180px;
    height: 134px;
}

#conteudo-02:hover {
    background: url('../img/btn-conteudo-quadradin.png') no-repeat center center;
    background-size: cover;
}

#conteudo-03 {
    top: 561px;
    left: 527px;
    width: 195px;
    height: 151px;
}

#conteudo-03:hover {
    background: url('../img/btn-conteudo-quadradin.png') no-repeat center center;
    background-size: cover;
}

#conteudo-04 {
    top: 783px;
    left: 1564px;
    width: 188px;
    height: 303px;
}

#conteudo-04:hover {
    background: url('../img/btn-conteudo-4.png') no-repeat center center;
    background-size: cover;
}

.temporaria-01 {
    background: url('../img/btn-conteudo-1.png') no-repeat center center;
    background-size: cover !important;
}

.temporaria-02 {
    background: url('../img/btn-conteudo-quadradin.png') no-repeat center center;
    background-size: cover !important;
}

.temporaria-03 {
    background: url('../img/btn-conteudo-quadradin.png') no-repeat center center;
    background-size: cover !important;
}

.temporaria-04 {
    background: url('../img/btn-conteudo-4.png') no-repeat center center;
    background-size: cover !important;
}

/**********************************************************/
/******************* página anos 70 ***********************/
/**********************************************************/

#conteudo-05 {
    top: 105px;
    left: 290px;
    width: 572px;
    height: 682px;
}

#conteudo-05:hover {
    background: url('../img/btn-conteudo-5.png') no-repeat center center;
    background-size: cover;
}

#conteudo-06 {
    top: 510px;
    left: 1349px;
    width: 302px;
    height: 274px;
}

#conteudo-06:hover {
    background: url('../img/btn-conteudo-3.png') no-repeat center center;
    background-size: cover;
}

.temporaria-05 {
    background: url('../img/btn-conteudo-5.png') no-repeat center center;
    background-size: cover;
}

.temporaria-06 {
    background: url('../img/btn-conteudo-3.png') no-repeat center center;
    background-size: cover;
}


/**********************************************************/
/******************* página anos 80 ***********************/
/**********************************************************/

#conteudo-07 {
    top: 43px;
    left: 64px;
    width: 230px;
    height: 486px;
}

#conteudo-07:hover {
    background: url('../img/btn-conteudo-11.png') no-repeat center center;
    background-size: cover;
}

#conteudo-08 {
    top: 106px;
    right: 411px;
    width: 194px;
    height: 306px;
}

#conteudo-08:hover {
    background: url('../img/btn-conteudo-1.png') no-repeat center center;
    background-size: cover;
}

#conteudo-09 {
    top: 659px;
    right: 333px;
    width: 207px;
    height: 430px;
}

#conteudo-09:hover {
    background: url('../img/btn-conteudo-11.png') no-repeat center center;
    background-size: cover;
}

.temporaria-07 {
    background: url('../img/btn-conteudo-11.png') no-repeat center center;
    background-size: cover;
}

.temporaria-08 {
    background: url('../img/btn-conteudo-11.png') no-repeat center center;
    background-size: cover;
}

.temporaria-09 {
    background: url('../img/btn-conteudo-11.png') no-repeat center center;
    background-size: cover;
}

/**********************************************************/
/******************* página anos 90 ***********************/
/**********************************************************/

#conteudo-10 {
    top: 10px;
    left: 5px;
    width: 365px;
    height: 774px;
}

#conteudo-10:hover {
    background: url('../img/btn-conteudo-10.png') no-repeat center center;
    background-size: cover;
}

#conteudo-11 {
    top: 15px;
    left: 440px;
    width: 259px;
    height: 539px;
}

#conteudo-11:hover {
    background: url('../img/btn-conteudo-11.png') no-repeat center center;
    background-size: cover;
}

#conteudo-12 {
    top: 589px;
    right: 0px;
    width: 180px;
    height: 411px;
}

#conteudo-12:hover {
    background: url('../img/btn-conteudo-11.png') no-repeat center center;
    background-size: cover;
}

.temporaria-10 {
    background: url('../img/btn-conteudo-10.png') no-repeat center center;
    background-size: cover;
}

.temporaria-11 {
    background: url('../img/btn-conteudo-11.png') no-repeat center center;
    background-size: cover;
}

.temporaria-12 {
    background: url('../img/btn-conteudo-11.png') no-repeat center center;
    background-size: cover;
}


/**********************************************************/
/****************** página anos 2000 **********************/
/**********************************************************/

#conteudo-13 {
    top: 6px;
    left: 7px;
    width: 257px;
    height: 772px;
}

#conteudo-13:hover {
    background: url('../img/btn-conteudo-13.png') no-repeat center center;
    background-size: cover;
}

#conteudo-14 {
    top: 483px;
    left: 362px;
    width: 364px;
    height: 584px;
}

#conteudo-14:hover {
    background: url('../img/btn-conteudo-14.png') no-repeat center center;
    background-size: cover;
}

#conteudo-15 {
    top: 287px;
    right: 4px;
    width: 1123px;
    height: 310px;
    transform: rotate(-5deg);
}

#conteudo-15:hover {
    background: url('../img/btn-conteudo-15.png') no-repeat center center;
    background-size: cover;
}


.temporaria-13 {
    background: url('../img/btn-conteudo-13.png') no-repeat center center;
    background-size: cover;
}


.temporaria-14 {
    background: url('../img/btn-conteudo-14.png') no-repeat center center;
    background-size: cover;
}


.temporaria-15 {
    background: url('../img/btn-conteudo-15.png') no-repeat center center;
    background-size: cover;
}

/**********************************************************/
/******************* página ano 2023 ***********************/
/**********************************************************/

#conteudo-16 {
    top: 528px;
    left: -4px;
    width: 891px;
    height: 250px;
}

#conteudo-16:hover {
    background: url('../img/btn-conteudo-15.png') no-repeat center center;
    background-size: cover;
}

#conteudo-17 {
    top: 740px;
    left: 1158px;
    width: 267px;
    height: 289px;
}

#conteudo-17:hover {
    background: url('../img/btn-conteudo-3.png') no-repeat center center;
    background-size: cover;
}

.temporaria-16 {
    background: url('../img/btn-conteudo-15.png') no-repeat center center;
    background-size: cover;
}

.temporaria-17 {
    background: url('../img/btn-conteudo-3.png') no-repeat center center;
    background-size: cover;
}

/**********************************************************/
/********************* estilo modais **********************/
/**********************************************************/

.header-30 {
    background-color: #798562;
    color: white;
}

.header-70 {
    background-color: #ff6b2d;
    color: white;
}

.header-80 {
    background-color: #624391;
    color: white;
}

.header-90 {
    background-color: #22b0e3;
    color: white;
}

.header-2000 {
    background-color: #3e54c0;
    color: white;
}

.header-2023 {
    background-color: #2c2010;
    color: white;
}

.fecha-modal {
    background-color: #c82637;
    color: white;
    border: 2px solid black;
}