.icone::before{
    display: block;
    content: "";
    width: 83px;
    height: 115px;
    background-color: transparent;
    position: absolute;
    top:-20px;
    left: -30px;   
    background-repeat: no-repeat;  
}

.icone.dica::before{
    background-image: url(../img/ico-dica-b.png);
}

.icone.praticar::before{
    background-image: url(../img/ico-praticar-b.png);
}

.icone.pergunta::before{
    background-image: url(../img/ico-pergunta-b.png);
}
.icone.refletir::before{
    background-image: url(../img/ico_refletir2.png);
    width: 114px;
    height: 126px;
    left: -35px;   
}

.icone.saiba-mais::before{
    background-image: url(../img/ico-saiba-b.png);
}
.icone.importante::before{
    background-image: url(../img/ico_importante2.png);
    width: 135px;
    height: 120px;
    left: -63px;
}
.icone.atencao::before{
    background-image: url(../img/ico_atencao2.png);
    width: 127px;
    height: 119px;
    left: -55px;
}

@media print{
    .icone::before{
        display:none !important
    }
}
