
@font-face {
  font-family: roboto;
  src: url(../fonts/Roboto-Medium.ttf);
}
@font-face {
  font-family: poppins-bold;
  src: url('../fonts/Poppins/Poppins-Bold.ttf');
}



body {
  background-image: url('../img/background.png');
  background-repeat: repeat;
  animation-fill-mode:forwards;
}

img {
  max-width: 100%;
}

/* 
.capa-container {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 100;
} */

.cartaz1 {
  position: fixed;
  right: 0;
  bottom: 0%;
  width: 43vw;
  animation-name: cartaz;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-delay: 300ms;
  animation-fill-mode:backwards;
}

.titulo1 {
  left: 14%;
  top: 40%;
  position: fixed;
  width: 30%;
  font-family: poppins-bold;
}

.iniciar1{
  top: 76%;
  left: 22%;
  width: 179px;
  height: 67px;
  position: absolute;
  z-index: 99999;
  background: url('../img/btn_iniciar_hover_scale.png') no-repeat;
}

.iniciar1:hover{
transform: scale(1.1);
}










/*-------------- Modal vídeo intro --------------*/
.imgVideo {
  margin-left: 35px;
  margin-top: 40px;
  position: absolute;
  background: url('../img/Video_apresentacao_pq_layout.png') no-repeat;
  background-size: 100%;
  width: 236px;
  height: 226px;
  border: none;
  transition: all 0.2s;
}
.imgVideo:hover{
  transform: scale(1.05);
  
}
.modal-dialog:not(.modal-fullscreen) {
  border-radius: 0;
}
.modal-dialog:not(.modal-fullscreen) .btn-close{
  color: white;
  font-size: 1.5rem;
  line-height: 0;
}
.modal-dialog:not(.modal-fullscreen) .modal-content{
  border-radius: 0;
}
.modal-dialog .modal-header{
  border-bottom: 0;
}
.modal-dialog:not(.modal-fullscreen) .modal-header{
  color: white;
  background-color: #00838D;
  border-radius: 0;
  border-bottom: 0;
}
.modal-dialog .modal-footer{
  border: 0;
  border-top: 0;
  padding: 0;
  padding-bottom: 10px;
}
.ytb {
  width: 560px;
  height: 315px;
  display: block;
  margin: 25px auto;
  max-width: 100%;
}
.backdrop {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(35, 35, 35, .9);
  z-index:999999999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-intro {
  background-image: url('../img/video_bg.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 700px;
  width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal-intro p {
  margin-top: -70px;
  color: white;
}
.footer {
  display: flex;
  justify-content: end;
  width: 480px;
  padding-top: 10px;
}
.botao-fechar,
.botao-fechar-2 {
  display: block;
  width: 100px;
  padding: 10px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  box-shadow: 2px 1px 3px #333;
}
.botao-fechar:hover,
.botao-fechar-2:hover {
  transform: translateY(-3px);
}
/*-------------- /Modal vídeo intro --------------*/


/* .mobile{background:url('../img/background820.png');
  background-repeat: repeat;
  background-size: contain;
} */


@keyframes cartaz {
  0%   {
    transform: translateX(550px);
  }
  100% {
    transform: translateY(0);
  }
}


@media only screen and (max-width: 1920px) {
.cartaz1 {
  position: fixed;
  right: 0px;
  bottom: 0%;
  width: 50vw;}}


@media only screen and (max-width: 1440px) {
.cartaz1 {
  position: fixed;
  right: 0;
  bottom: 0%;
  width: 56vw;}
}



@media only screen and (max-width: 1400px) {
  .cartaz1 {
    position: fixed;
    right: 0;
    bottom: 8%;
    width: 56vw;}

}

@media only screen and (max-width: 1366px) {
.cartaz1 {
  position: fixed;
  right: 0;
  bottom: 0%;
  width: 50vw;
}}

@media screen and (min-width: 821px) {
.mobile{display: none;}
}

@media screen and (max-width: 820px) {
  .capa-container{display: none;}
  .modal-intro{
    background-size: 30%;
    background-position: center;
    background: unset;
    max-width: 100%;
    padding: 50px;
    background: #007981;
}
}

@media only screen and (max-width: 820px) {
.cartaz2{    width: 80%;
  margin-left: 9%;
margin-top: 2%;}

.bg2{position: fixed;}
.titulo1 {
  left: 12%;
  top: 65%;
  position: fixed;
  width: 80%;
  font-family: poppins-bold;
}

.imgVideo{
  left: -5%;
  top:-4%;
  width: 25%;
}
.iniciar1{position: absolute;
  top: 79%;
  left: 37%;}

.titulo2{
  left: 32%;
  top: 94%;
  position: fixed;
  width: 80%;
  font-family: poppins-bold;
}
.logo
{margin-top:2%;
  width:13%;
  position: absolute;
  right: 3%;
}
}

@media only screen and (max-width: 768px) {
.titulo1 {
  left: 12%;
  top: 70%;
  position: fixed;
  width: 80%;
  font-family: poppins-bold;
}
.iniciar1 {
  position: absolute;
  top: 83%;
  left: 37%;
}
.logo
{margin-top:2%;
  width:13%;
  position: absolute;
  right: 3%;
}
.imgVideo{width: 25%;
  left: -5%;
  top:-4%;}
}

@media screen and (max-width: 480px) {
.cartaz2 {
  width: 100%;
  margin-left: 0%;
  margin-top: 0%;
}
.titulo1 {
  left: 3%;
  top: 65%;
  position: fixed;
  width: 100%;
  font-family: poppins-bold;
}
.iniciar1 {
  position: absolute;
  top: 83%;
  left: 27%;
}
.titulo2 {
  left: 23%;
  top: 94%;
  position: fixed;
  width: 80%;
  font-family: poppins-bold;
}
.imgVideo {
  width: 25%;
  left: -9%;
  top: -5%;
}
}
@media only screen and (max-width: 375px) {
.titulo1 {
  left: 3%;
  top: 61%;
  position: fixed;
  width: 100%;
  font-family: poppins-bold;
}}